.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.example-card {
  width: 30%;
  margin: 20px;
  display: inline-block;
}
.quantity {
  margin-left: 100px;
}
img {
  width: 100%;
  max-height: 300px;
}
