<mat-spinner *ngIf="isLoad"></mat-spinner>
<div *ngIf="!isLoad" class="cards">
  <button mat-raised-button color="warn" (click)="toAddPage()">
    Add product
  </button>
  <mat-card *ngFor="let pro of products" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ pro.name }}</mat-card-title>
      <mat-card-title>{{ pro.category }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="pro.photo"
      alt="Photo of a product"
      (click)="toDetailsPage(pro.id)"
    />
    <mat-card-content>
      <p>Price: {{ pro.price }}</p>
      <p>Quantity: {{ pro.quantityInStock }}</p>
      <button mat-raised-button color="warn" (click)="toEditPage(pro.id)">
        Edit
      </button>
      <button mat-raised-button color="warn" (click)="toDeletePage(pro.id)">
        Delete
      </button>
    </mat-card-content>
  </mat-card>
</div>
