<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ng-container class="cards">
    <mat-card *ngFor="let pro of products" class="example-card">

      <img mat-card-image [src]="pro.imgUrl" (click)="showDetails()" alt="Photo of a Shiba Inu">
      <mat-card-header>

        <mat-card-title>{{pro.name}}</mat-card-title>
        <mat-card-subtitle>
          <p>{{pro.price}}</p>
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </ng-container>
</body>

</html>